.tasksContainer {
    width: 40%;
    height: 600px;
    margin: auto;
    padding: 15px;
    margin-top: 20px;
    background-color: #e8e9f2;
}

.tasksContainer h1 {
    text-align: center;
    margin-top: 1px;
    color: #57575b;
}

.material-icons {
    font-size: 35px;
    color: #ce0202;
}

.createTask {
    text-align: center;
}

.toDoList {
    text-align: left;
}

.toDoList ul {
    margin: 0 auto;
    list-style-type: none;
}


.createTask Button {
    margin: 12px;
}

.toDoList CheckBox {
    margin-right: 200px;
}

.toDoList li {
    color: black;
    background-color: white;
    margin-right: 40px;
    border-bottom: 1px solid grey;
}